body {
   background-color: rgb(52, 58, 64) !important;
}

input :invalid {
    border: 2px dashed red !important;
}

input :valid {
    border: 2px solid black !important;
}

.carousel {
    height: 600px;
    object-fit: cover;
}

img {
    max-height: 600px;
    object-fit: cover;
}